/*
 * Copyright 2020, EnMasse authors.
 * License: Apache License 2.0 (see the file LICENSE or http://apache.org/licenses/LICENSE-2.0.html).
 */
.App {
  text-align: left;
  margin-left: 5%;
}

.App-logo {
  pointer-events: none;
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.8); /* FF3.5+ */
      -ms-transform: scale(0.8); /* IE9 */
       -o-transform: scale(0.8); /* Opera 10.5+ */
          transform: scale(0.8);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}

img {
  max-width: 100%;
  vertical-align: middle; }

body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

.App-link {
  color: #61dafb;
}

.largeLink {
  color: white;
  background: #75a0d3;
  padding: 10px;
  font-size: calc(8px + 1vmin);
  text-decoration: none;
}

.largeLinkBlack {
  color: white;
  background: black;
  padding: 10px;
  font-size: calc(8px + 1vmin);
  text-decoration: none;
}

.InNavApp {
  margin-top: 3%;
}

.NavApp {
  margin-top: 3%;
  margin-left: 5%;
}

td {
    padding-right: 15px;
}
